# Copyright (c) 2017, Oracle and/or its affiliates. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA

#
# The MySQL  Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
secure-file-priv= NULL
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# >> ADD <<
character-set-server = utf8mb4
collation-server = utf8mb4_ja_0900_as_cs
# >> ADD << Default authentication.
default-authentication-plugin=mysql_native_password
# >> ADD << secure_file_priv is not update variable.
#secure_file_priv = /home/yukio/sql/mysql
secure_file_priv = ""

# Custom config should go here
!includedir /etc/mysql/conf.d/

# >> ADD <<
[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4


# >> ADD << permit client to local-infile
[local]
loose-local-infile=1
